@import "compass/reset";
@import "compass/css3";

$navHeight:40px;

body{
	font-family: Arial;
	font-size: 16px;
	color:white;
}

#wrapper{
	background-color: grey;
	height: $navHeight;
}

#nav{
	width:960px;
	height: auto;
	margin: 0 auto;
	padding: 0 10px;
  	text-align: center;
  	@include display-flex(flex);
    @include flex-direction(row);
  	@include flex-wrap(nowrap);
    @include align-items(baseline);
    @include justify-content(space-between);

    li{
    	line-height: $navHeight;
    	display: inline-block; /* non-flexbox browsers */
        @include align-self(center);
    	@include flex(0 0 auto);

    	&:nth-child(even) {
	    	@include opacity(0.2);
            background-color: white;
			width: 1px;
            height: $navHeight - 15px;
    	}
    }
}