@import "compass/reset";
@import "compass/css3";

$navHeight:40px;

body{
	font-family: Arial;
	font-size: 16px;
	color:white;
}

#wrapper{
	background-color: grey;
	height: $navHeight;
}

#nav{
	width:960px;
	height: auto;
	margin: 0 auto;
  	text-align: center;
  	@include display-flex(flex);
    @include flex-direction(row);
  	@include flex-wrap(nowrap);
    @include align-items(baseline);
    @include justify-content(space-between);
    flex-grow:1;

    li{
        height:$navHeight - 1;
    	line-height: $navHeight - 1;
    	display: inline-block; /* non-flexbox browsers */
        @include align-self(center);
    	@include flex(0 1 auto);

        text-align: center;
        overflow: hidden;
        cursor: pointer;

    	&:nth-child(even) {
	    	@include opacity(0.2);
            background-color: white;
			width: 1px;
            height: $navHeight - 15px;
    	}

        &:first-child{
            text-align: left;
            border-bottom:1px solid red;
        }

        &:last-child{
            text-align: right;
        }

        &:hover{
            color:black;
        }
    }
}



