*{
  margin: 0;
  padding: 0;
}

#wrapper{
  width: 960px;
  background-color: #e7e2e2;
}


li{
  display: inline-block;
  border-right: 1px solid red;
}

li:first-child{
  border-left: 1px solid red;
}

li:last-child{
  border-left: none;
}